/* Importação da fonte personalizada */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Tailwind CSS base, components e utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customizações de estilo base */
@layer base {
    body {
        @apply flex flex-col min-h-screen antialiased;
        font-family: 'Work Sans', sans-serif;
        background-color: #0c0c0c; /* Define a cor de fundo do site */
        color: #FBFFF2; /* Define a cor do texto */
    }
    body > div,
    .sb-page,
    .sb-base {
        @apply flex flex-col grow;
    }
    .sb-layout {
        @apply grow;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply break-words;
        line-height: 1.15;
    }
}

/* Customizações de componentes */
@layer components {
    /* Itens de destaque */
    .highlight {
        color: #FBFFF2; /* Define a cor dos itens de destaque */
    }

    .sb-markdown {
        @apply text-lg leading-relaxed;
        a {
            @apply underline;
            color: #FBFFF2; /* Define a cor dos links */
        }
        a:hover {
            @apply no-underline;
        }
        b,
        strong {
            @apply font-medium;
            color: #FBFFF2; /* Define a cor dos textos em negrito */
        }
        em {
            @apply italic;
            color: #FBFFF2; /* Define a cor dos textos em itálico */
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 2.5rem 0 1.5rem;
        }
        p {
            margin: 1.5rem 0;
        }
        ol {
            @apply list-decimal;
            margin: 1.5rem 0;
            padding-left: 1.25em;
        }
        ul {
            @apply list-disc;
            margin: 1.5rem 0;
            padding-left: 1.25em;
        }
        li > ul,
        li > ol {
            margin: 0;
        }
        blockquote {
            @apply border-l-4 border-current;
            font-size: 1.25em;
            line-height: 1.4;
            margin: 2.5rem 0;
            padding-left: 1.25em;
            color: #FBFFF2; /* Define a cor dos blockquotes */
        }
        pre {
            @apply overflow-x-auto leading-normal border border-current;
            font-size: 0.875em;
            margin: 1.5rem 0;
            padding: 1.25em;
            background-color: #0c0c0c; /* Define a cor de fundo dos blocos de código */
            color: #FBFFF2; /* Define a cor dos blocos de código */
        }
        hr {
            @apply h-px bg-current border-0;
            margin: 2.5rem 0;
        }
        figure {
            margin: 1.5rem 0;
        }
        figcaption {
            @apply leading-normal;
            font-size: 0.875em;
            margin: 0.5rem 0 0;
            color: #FBFFF2; /* Define a cor das legendas das figuras */
        }
        table {
            @apply w-full text-left border border-collapse border-current;
            margin: 1.5rem 0;
            color: #FBFFF2; /* Define a cor das tabelas */
        }
        caption {
            @apply text-left;
            font-size: 0.875em;
            margin: 0 0 0.5rem;
        }
        th,
        td {
            @apply border-b border-r border-current;
            padding: 0.5em;
        }
        th {
            font-weight: medium;
        }
        h1:first-child,
        h2:first-child,
        h3:first-child,
        h4:first-child,
        h5:first-child,
        h6:first-child,
        p:first-child,
        ul:first-child,
        ol:first-child,
        blockquote:first-child,
        pre:first-child,
        hr:first-child,
        figure:first-child,
        table:first-child {
            margin-top: 0;
        }
    }
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: 'YourCustomFont', sans-serif; /* Certifique-se de que a fonte personalizada está definida corretamente */
  background-color: #0c0c0c;
  color: #FBFFF2;
}

/* Link styling */
a {
  color: #fa4500; /* Cor padrão dos links */
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona transição suave para hover */
}

a:hover {
  color: #FBFFF2; /* Cor durante o hover */
  background-color: #221fff; /* Fundo durante o hover */
}

/* Button styling */
button {
  background-color: #fa4500;
  color: #FBFFF2;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona transição suave para hover */
}

button:hover {
  color: #FBFFF2; /* Cor durante o hover */
  background-color: #221fff; /* Fundo durante o hover */
}

/* Additional styling */
.header {
  background-color: #0c0c0c;
  color: #FBFFF2;
  padding: 20px;
  text-align: center;
}

.footer {
  background-color: #0c0c0c;
  color: #FBFFF2;
  padding: 10px;
  text-align: center;
}

.container {
  padding: 20px;
  background-color: #0c0c0c;
  color: #FBFFF2;
}

.primary {
  background-color: #fa4500;
  color: #FBFFF2;
}

.secondary {
  background-color: #221fff;
  color: #050806;
}

.complementary {
  background-color: #565862;
  color: #FBFFF2;
}
